<section class="conatct-section section-gap">
  <div class="container security">
    <div class="contact-form-area wow fadeInUp" data-wow-delay="0.3s">
      <div class="row">
        <div class="col-lg-5 photo">
          <div class="contact-thumb mb-md-gap-50 pointer" routerLink="/" title="Go to homepage">
            <img src="assets/img/security.jpg" alt="img" *ngIf="!verification"/>
            <img src="assets/img/new-password.jpg" alt="img" *ngIf="verification"/>
          </div>
        </div>
        <div class="col" *ngIf="!verification">
          <div class="contact-form">
            <form
              id="resetForm"
              [formGroup]="resetForm"
              (ngSubmit)="onSubmitReset()"
            >
              <h3 class="form-title">
                Forgot your password? <br />
                No worries. We got you. <i class="fa fa-lock"></i>
              </h3>
              <p>Enter your account's email below.</p>
              <div class="row mt-5" [attr.disabled]="loading">
                <div class="col-lg-12">
                  <div class="input-group mt-30">
                    <input
                      type="email"
                      placeholder="Email Here"
                      name="email"
                      formControlName="email"
                      required
                    />
                    <span class="icon"
                      ><i class="fal fa-envelope-open"></i
                    ></span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group textarea-group mt-30">
                    <button
                      type="submit"
                      class="
                        btn btn-block
                        login-btn
                        main-btn
                        small-size
                        rounded-btn
                        icon-right
                      "
                      [disabled]="!resetFormIsValid() || loading"
                    >
                      Reset
                      <i class="fal fa-long-arrow-right" *ngIf="!loading"></i>
                      &nbsp;
                      <div
                        class="spinner-border float-right"
                        role="status"
                        *ngIf="loading"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col" *ngIf="verification">
          <div class="contact-form">
            <form
              id="resetForm"
              [formGroup]="changePasswordForm"
              (ngSubmit)="onSubmitChangePassword()"
            >
              <h3 class="form-title">
                Reset Wizard<br />
                Setup new password. <i class="fa fa-lock"></i>
              </h3>
              <p>Enter your new password and confirm below.</p>
              <div class="row mt-5" [attr.disabled]="loading">
                <div class="col-lg-12">
                  <div class="input-group mt-30">
                    <input
                      type="password"
                      placeholder="Enter new password"
                      name="password"
                      formControlName="password"
                      required
                    />
                    <span class="icon"><i class="fal fa-lock"></i></span>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-group mt-30">
                    <input
                      type="password"
                      placeholder="Confirm new password"
                      name="password"
                      formControlName="confirmPassword"
                      required
                    />
                    <span class="icon"><i class="fal fa-lock"></i></span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group textarea-group mt-30">
                    <button
                      type="submit"
                      class="
                        btn btn-block
                        login-btn
                        main-btn
                        small-size
                        rounded-btn
                        icon-right
                      "
                      [disabled]="!changePasswordFormIsValid() || loading"
                    >
                      Submit
                      <i class="fal fa-long-arrow-right" *ngIf="!loading"></i>
                      &nbsp;
                      <div
                        class="spinner-border float-right"
                        role="status"
                        *ngIf="loading"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="conatct-one-bg"
    [style.background-image]="'url(assets/img/security.jpg)'"
  ></div>
</section>
