<ng-template #categoryModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form"
      id="feedbackForm"
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmitCategory()"
    >
      <div *ngIf="action == 'addCategory' || action == 'updateCategory'">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter category name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <textarea
            rows="4"
            formControlName="description"
            class="form-control no-resize"
            placeholder="Enter category description"
          ></textarea>
        </div>
        <div class="form-group">
          <input
            type="file"
            class="dropify form-control file-chooser mb-2"
            (change)="fileChanged($event)"
          />
          <img class="photo" src="{{ preview ? preview : default }}" alt="" />
        </div>
      </div>

      <span *ngIf="action == 'deleteCategory'">
        <p class="text-3 text-center text-muted">{{ modalText }}</p>
      </span>
      <button #categorySubmitBtn type="submit" hidden></button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-round btn-danger"
      *ngIf="action == 'deleteCategory'"
      (click)="categorySubmitBtn.click()"
    >
      Delete &nbsp;
      <div class="spinner-border float-right" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
    <button
      type="button"
      class="btn btn-round btn-primary"
      style="background-color: #6cb440"
      [disabled]="loading"
      *ngIf="action == 'addCategory' || action == 'updateCategory'"
      (click)="categorySubmitBtn.click()"
    >
      Submit &nbsp;
      <div class="spinner-border float-right" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
    <button
      type="button"
      class="btn btn-round btn-default"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>

<ngx-loading
  [show]="loadingData"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
></ngx-loading>
