<div class="container">
  <div class="row">
    <div class="col pull-left">
      <h4>Subscribers</h4>
    </div>
    <div class="col text-right">
      <span
        ><a
          class="btn btn-success btn-sm addButton"
          (click)="openSubscriberModal('addSubscriber', null)"
        >
          <i class="fa fa-plus"></i> </a
      ></span>
    </div>
  </div>

  <hr />
  <div class="row clearfix">
    <dx-data-grid
      #subscribersContainer
      id="subscribersContainer"
      [dataSource]="subscribers"
      [columnAutoWidth]="true"
      [showBorders]="false"
      [showRowLines]="true"
      [showColumnLines]="false"
      [allowColumnReordering]="true"
      [wordWrapEnabled]="true"
      [hoverStateEnabled]="true"
      (onFileSaving)="_core.onFileSaving($event, 'subscribers')"
    >
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20, 30]"
        [showInfo]="true"
      ></dxo-pager>
      <dxo-search-panel
        [visible]="true"
        [width]="240"
        [placeholder]="'Search...'"
      ></dxo-search-panel>

      <!-- Columns -->
      <dxi-column dataField="email" [caption]="'Email'"></dxi-column>
      <dxi-column
        dataField="createdat"
        cellTemplate="createdAtTemplate"
        [caption]="'Date'"
      >
      </dxi-column>
      <dxi-column cellTemplate="actionsTemplate" [caption]="" alignment="right">
      </dxi-column>

      <div *dxTemplate="let cell of 'createdAtTemplate'">
        <span>
          {{
            !_core.isEmptyOrNull(cell.data.createdat)
              ? getDate(cell.data.createdat)
              : "-"
          }}
        </span>
      </div>

      <div *dxTemplate="let cell of 'actionsTemplate'">
        <div class="mainActions">
          <ul>
            <!-- <li>
              <i
                class="fa fa-sm fa-edit blue"
                [title]="'Edit'"
                (click)="openSubscriberModal('updatesubscriber', cell.data)"
              ></i>
            </li> -->
            <li>
              <i
                class="fa fa-sm fa-trash red"
                [title]="'Delete subscriber'"
                (click)="openSubscriberModal('deleteSubscriber', cell.data)"
              ></i>
            </li>
          </ul>
        </div>
      </div>

      <dxo-export
        [enabled]="true"
        fileName="subscribers"
        [allowExportSelectedData]="false"
        [customizeExcelCell]="customizeExcelCell"
      ></dxo-export>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    </dx-data-grid>
  </div>
</div>



<ngx-loading
  [show]="loadingData"
  [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    animationType: animationType
  }"
></ngx-loading>
