<section class="contact-info-section section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="contact-info-items mb-md-gap-50">
          <div class="contact-info-item text-center">
            <i class="fal fa-phone"></i>
            <h5 class="title">Phone Number</h5>
            <p>+237697465154</p>
          </div>
          <div class="contact-info-item text-center">
            <i class="fal fa-envelope"></i>
            <h5 class="title">Email Address</h5>
            <p>mboalab@gmail.com</p>
          </div>
          <div class="contact-info-item text-center">
            <i class="fal fa-map"></i>
            <h5 class="title">Office Location</h5>
            <p>Yaoundé , Cameroon</p>
          </div>
          <div class="contact-info-item text-center">
            <a href="https://web.facebook.com/mboalab" target="_blank">
              <i class="fab fa-facebook-f"></i>
              <h5 class="title">Social Network</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-map-three">
          <iframe
            title="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7496149.95373021!2d85.84621250756469!3d23.452185887261447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sbd!4v1569913375800!5m2!1sen!2sbd"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
