<section class="intro-video-area" [style.background-image]="'url(assets/img/intro-video-bg.jpg)'">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="intro-video-content">
                    <span>Vision</span>
                    <h2 class="title">How we see ourselves.</h2>
                    <p class="text-1">Our path is quite deliberate.
                    </p>
                    <p class="text-2">We advocate for the character of a local development, which is conferred by the imperative to have it emerge from the communities themselves; this is what ensures its relevance and sustainability. In other words, sustainable local development needs to be thought by and for the members of a given community.</p>
                    <a routerLink="/about" class="main-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
                <div class="intro-thumb mt-md-gap-60">
                    <img src="assets/img/intro-thumb.jpg" alt="img">
                    <a class="video-popup popup-youtube" href="https://www.youtube.com/watch?v=upxSkY_bdAk"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
