<section class="why-choose-area">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <div class="section-title white-color mb-20 text-center">
          <div class="title-tag">
            <img
              src="assets/img/logo-2.png"
              width="150"
              class="d-inline-block align-top mr-2 mb-4"
              alt=""
            />
          </div>

          <div *ngIf="verification">
            <div class="title-tag mt-2 mb-3">
              <img src="assets/img/success.png" alt="" width="" height="150" />
            </div>

            <h4 class="white">Account verified successfully</h4>
            <h5 class="white mt-2">Let's get you started</h5>
          </div>

          <div *ngIf="!verification">
            <div class="title-tag mt-2 mb-3">
              <img
                src="assets/img/error-icon.png"
                alt=""
                width=""
                height="150"
              />
            </div>

            <h4 class="white">An error occured.</h4>
            <p class="text-3 text-muted white" *ngIf="display">
              {{ " You will be redirected to homepage in " + display }}
            </p>
          </div>
        </div>
        <button
          routerLink="/"
          class="
            btn
            mt-50
            login-btn
            main-btn
            small-size
            btn-block
            rounded-btn
            icon-right
          "
        >
          Home
          <i class="fal fa-long-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="choose-dot">
    <img src="assets/img/shape/choose-dot.png" alt="img" />
  </div>
  <div class="choose-shape">
    <img src="assets/img/shape/choose-shape.png" alt="img" />
  </div>
</section>
